form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9eef4;
}
h2 {
  color: #666;
  font-size: 28px;
}
input {
  border-radius: 10px;
  height: 40px;
  width: 50%;
  margin: 10px;
  outline: none;
  border: 1px solid #bcbcbc;
  padding: 0 10px;
}
textarea {
  border-radius: 10px;
  outline: none;
  border: none;
  height: 40px;
  width: 50%;
  margin: 10px;
  border: 1px solid #bcbcbc;
  padding: 10px;
}
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.dairy {
  width: 70%;
  margin: 5% 10%;
}
.cause {
  color: var(--text-grey);
  font-size: 28px;
}
.head-img {
  width: 800px;
  height: 500px;
}
.cause span {
  color: var(--blue);
}
.sales {
  color: var(--blue);
  font-size: 22px;
  font-weight: bold;
}
.strat {
  color: var(--blue);
  font-size: 16px;
}
.strat-list {
  color: var(--blue);
  font-size: 16px;
}
.strat-list > span {
  color: #666;
  font-weight: bold;
  font-size: 18px;
}
.study {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  flex-direction: row;
  background-image: url("../../public/rectangle-4029@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  padding: 20px;
}
.study > p {
  margin: 10px;
  font-size: 16px;
  color: var(--white);
}
.study > button {
  background-color: var(--white);
  color: var(--blue);
}
.study > button:hover {
  cursor: pointer;
}
.result-list {
  color: var(--blue);
  list-style: disc;
  font-size: 16px;
}
.tools-list {
  color: var(--blue);
  list-style: disc;
  font-size: 16px;
}
.budget {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.budget > p {
  color: var(--blue);
} 
.lets-connect {
  display: flex;
  flex-direction: column;
  height: 54.7%;
  margin: 8% 10%;
  font-size: 26px;
}
.lets-connect h2 {
  color: #666;
}
.contact-location {
  display: flex;
  flex-direction: column;
  margin: 10% 0;
  background-color: var(--blue);
  border-radius: 50px;
  color: white;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 30px 20px 0 20px;
}
.contact p {
  margin: 0;
}
.phoneIcon {
  margin: 0 30px 0 10px;
}
.locationDivider {
  border-bottom: 2px solid #fff;
  width: 70%;
}
.location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 500px;
  margin: 20px;
}
.location p {
  margin: 0;
}
.location li {
  margin: 2rem;
}
.locationIcon {
  margin: 0 40px 0 10px;
}
@media only screen and (max-width: 768px) {
  input, textarea {
    width: 100%;
  }
  
  .dairy {
    margin: 5% 5%;
    width: 90%;
  }
  
  .head-img {
    width: 100%;
    height: auto;
  }
  
  .lets-connect {
    margin: 8% 5%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 480px) {
  input, textarea {
    width: 100%;
  }
  
  .dairy {
    margin: 5% 5%;
    width: 90%;
  }
  
  .head-img {
    width: 100%;
    height: auto;
  }
  
  .lets-connect {
    margin: 8% 5%;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
