.accelerateYourGrowth1 {
  position: relative;
  /* line-height: 4.85rem; */
}
.withOurVersatile {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--blue);

  display: inline-block;
  /* width: 22.31rem; */
  /* height: 1.38rem; */
  flex-shrink: 0;
}
.accelerateYourGrowthHeading {
  align-self: stretch;
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--light-blue);

  width: 12.5rem;
  height: 3.59rem;
}
.groupChild:hover {
  color: white;
  background-color: var(--blue);
}
/* .marketing {
  position: absolute;
  top: 0.88rem;
  left: 2.13rem;
  justify-content: center;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--blue);
  text-align: left;
} */
.rectangleParent {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  background-color: var(--light-blue);
  width: 12.5rem;
  border-radius: 12px;
  height: 3.59rem;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  flex-shrink: 0;
}
.rectangleParent:hover,
.marketing:hover {
  border-radius: 12px;
  color: white;
  background-color: var(--blue);
}
.groupWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.groupWrapper:hover {
  background-color: var(--blue);
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--light-blue);
  width: 12.5rem;
  height: 3.59rem;
}
.technology {
  position: absolute;
  top: 0.88rem;
  left: 1.63rem;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--blue);
  text-align: left;
}
.groupContainer {
  cursor: pointer;
  outline: none;
  border: 0px;
  padding: 0;
  border-radius: 12px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline-style: 0 !important;
  justify-content: center;
}
.groupContainer:hover {
  background-color: var(--blue);
  color: white;
}
groupContainer:focus {
  border: none;
  outline-style: 0 !important;
}
.analytics {
  position: absolute;
  top: 0.88rem;
  left: 2.63rem;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--blue);
  text-align: left;
}
.frameGroup {
  margin-top: 0.8rem;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-41xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-43xl);
}
.groupIcon {
  position: relative;
  width: 2.19rem;
  height: 2.19rem;
  flex-shrink: 0;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.a31483e59ee069da94c581Icon {
  position: relative;
  width: 11.75rem;
  height: 3.25rem;
  flex-shrink: 0;
  object-fit: cover;
}
.c471a6515b1e0ad75aa21Icon {
  height: 3.25rem;
}
.c471a6515b1e0ad75aa21Icon,
.hubspotLogo1Icon,
.images1Icon {
  /* position: relative;
  flex-shrink: 0; */
  object-fit: fill;
}
.c471a6515b1e0ad75aa21Icon {
  width: 9.88rem;
}
.hubspotLogo1Icon {
  width: 10.19rem;
  height: 6.13rem;
}
.images1Icon {
  width: 8.88rem;
  height: 2.19rem;
}
.mailchimpLogoHorizontalBlacIcon,
.semrushLogo1Icon {
  position: relative;
  width: 8.19rem;
  height: 2.25rem;
  flex-shrink: 0;
  object-fit: cover;
}
.semrushLogo1Icon {
  width: 11.4rem;
  height: 1.5rem;
}
.a31483e59ee069da94c581Parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;

  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.accelerateYourGrowth {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.frameContainer {
  flex-direction: row;
  justify-content: space-between;
}
.frameContainer,
.frameParent {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.accelerateYourGrowth,
.frameParent {
  flex-direction: column;
  justify-content: center;
}
.frameParent {
  gap: 2rem;
}
.accelerateYourGrowth {
  background-color: var(--white);
  overflow: hidden;
  padding: 0 var(--padding-79xl);
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--text-grey);
  font-family: var(--font-montserrat);
}
