.dontLetIt,
.lookingToSolve {
  position: relative;
  display: inline-block;
  width: 72.81rem;
}
.lookingToSolve {
  font-weight: 600;
}
.dontLetIt {
  font-size: var(--font-size-xl);
  color: var(--text-grey);
  height: 1.87rem;
  flex-shrink: 0;
}
.lookingToSolveANaggingBusParent {
  align-self: stretch;
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.contactUs {
  align-self: stretch;
  font-weight: 600;
}
.contactUs,
.mobileSupport {
  position: relative;
}
.contactUsParent,
.mobileSupport9180731629Parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.mobileSupport9180731629Parent {
  align-self: stretch;
  text-align: center;
  font-size: var(--font-size-mid);
}
.contactUsParent {
  position: absolute;
  top: 1.5rem;
  left: 7.31rem;
  width: 19.56rem;
}
.frameChild {
  position: absolute;
  top: 1.81rem;
  left: 2.38rem;
  width: 3.13rem;
  height: 3.13rem;
  overflow: hidden;
  object-fit: cover;
}
.location {
  position: relative;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  text-align: center;
}
.bangaloreIndia,
.lusakaZambia {
  position: relative;
  display: inline-block;
  width: 19.56rem;
}
.bangaloreIndia {
  width: 20.25rem;
}
.frameItem,
.locationParent {
  position: absolute;
  top: 11.25rem;
}
.locationParent {
  left: 7.31rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  font-size: var(--font-size-mid);
}
.frameItem {
  left: 2.38rem;
  width: 3.13rem;
  height: 3.13rem;
  overflow: hidden;
  object-fit: cover;
}
.frameContainer {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--blue);
  overflow: hidden;
}
.letUsKnow {
  position: relative;
  font-weight: 600;
  display: inline-block;
  /* height: 4.31rem; */
  padding-left: 10px;
  flex-shrink: 0;
}
.input,
.letUsKnow,
.parent {
  align-self: stretch;
}
.input {
  border: 1px solid var(--color-silver);
  font-family: var(--font-montserrat);
  font-size: var(--font-size-mini);
  background-color: var(--white);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 16.77rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-mini) 0 var(--padding-mini) var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.8;
}
.parent {
  /* height: 3.13rem; */
  flex-direction: row;
  justify-content: space-between;
}
.frameDiv,
.group,
.input2,
.input4,
.parent {
  display: flex;
  align-items: flex-start;
}
.input2 {
  border: 1px solid var(--color-silver);
  font-family: var(--font-montserrat);
  gap: ;
  font-size: var(--font-size-mini);
  background-color: var(--white);
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 48%;
  height: 3.13rem;
  flex-direction: column;
  padding: var(--padding-mini) 0 var(--padding-mini) var(--padding-xl);
  justify-content: flex-start;
  opacity: 0.8;
}
.frameDiv,
.group,
.input4 {
  align-self: stretch;
}
.group {
  flex-direction: row;
  justify-content: space-between;
}
.frameDiv,
.input4 {
  justify-content: flex-start;
}
.input4 {
  width: auto;
  height: 6rem;
  border: 1px solid var(--color-silver);
  font-family: var(--font-montserrat);
  font-size: var(--font-size-mini);
  background-color: var(--white);
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-22xl) 0 var(--padding-22xl) var(--padding-xl);
}
.frameDiv {
  /* height: 17.5rem; */
  flex-direction: column;
  gap: 1rem;
}
.submit {
  position: relative;
  font-size: var(--font-size-base);
  padding: 1rem 5rem;
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--white);
  text-align: left;
}
.submitWrapper {
  cursor: pointer;
  border: 0.8px solid var(--white);
  padding: var(--padding-xs) var(--padding-25xl);
  background-color: var(--blue);
  border-radius: var(--br-11xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameGroup,
.letUsKnowParent {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.letUsKnowParent {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-16xl);
  color: var(--text-grey);
}
.frameGroup {
  height: 27.62rem;
  flex-direction: row;
  padding: 0 var(--padding-23xl);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--white);
}
.contactusform,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  overflow: hidden;
  gap: var(--gap-xl);
}
.contactusform {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--light-blue);
  width: 100%;
  padding: var(--padding-lg) 0 1.88rem;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-16xl);
  color: var(--blue);
  font-family: var(--font-montserrat);
}
