.digitalMarketingServices1,
.intentWeServe {
  position: relative;
}
.intentWeServe {
  font-size: var(--font-size-16xl);
  font-weight: 500;
  color: var(--text-grey);
}
.digitalMarketingServicesParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
  font-size: var(--font-size-31xl);
}
.child,
.enquiry {
  position: relative;
}
.child {
  width: 3.75rem;
  height: 3.75rem;
  flex-shrink: 0;
}
.enquiry {
  font-weight: 600;
}
.unleashYourBrands {
  margin: 0;
}
.unleashYourBrandsContainer {
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--text-grey);
}
.div,
.div1 {
  display: flex;
  align-items: center;
}
.div {
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--white);
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
  flex-direction: column;
  padding: var(--padding-5xl) var(--padding-6xl);
  justify-content: center;
  gap: var(--gap-3xs);
}
.div1 {
  padding: var(--padding-10xl);
}
.div1,
.div2,
.div3 {
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--white);
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
  height: 13.75rem;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-3xs);
}
.div2 {
  display: flex;
  padding: var(--padding-lgi) var(--padding-13xl);
  align-items: center;
}
.div3 {
  padding: var(--padding-10xl) var(--padding-5xl);
}
.div3,
.div4,
.parent {
  display: flex;
  align-items: center;
}
.div4 {
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--white);
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
  height: 13.75rem;
  flex-direction: column;
  padding: var(--padding-lgi);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-3xs);
}
.parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.div5 {
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--white);
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
  height: 13.56rem;
  padding: var(--padding-10xl) var(--padding-3xl);
  justify-content: center;
  gap: var(--gap-3xs);
}
.div5,
.div6,
.div7 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.div6 {
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--white);
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
  height: 13.38rem;
  padding: var(--padding-10xl) var(--padding-lgi);
  justify-content: center;
  gap: var(--gap-3xs);
}
.div7 {
  height: 13.56rem;
  padding: var(--padding-10xl) var(--padding-xl);
}
.div7,
.div8,
.div9 {
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--white);
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
  justify-content: center;
  gap: var(--gap-3xs);
}
.div8 {
  height: 13.31rem;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lgi) var(--padding-lg);
  box-sizing: border-box;
  align-items: center;
}
.div9 {
  padding: var(--padding-lgi) var(--padding-base);
}
.div9,
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frameGroup {
  width: 74.88rem;
  height: 31.25rem;
  flex-shrink: 0;
  justify-content: center;
  gap: var(--gap-11xl);
}
.frameWrapper {
  align-self: stretch;
  justify-content: flex-start;
}
.frameChild {
  position: relative;
  width: 5.31rem;
  height: 5.31rem;
  flex-shrink: 0;
  overflow: hidden;
  object-fit: cover;
}
.socialMediaServicesContainer {
  position: relative;
  font-weight: 500;
}
.frameParent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frameContainer,
.frameDiv {
  /* align-self: stretch; */
  display: flex;
  align-items: center;
}
.frameDiv {
  gap: 7rem;
  flex-direction: row;
  justify-content: space-between;
}
.frameContainer {
  border-radius: var(--br-11xl);
  background-color: var(--blue);
  flex-direction: column;
  padding: var(--padding-5xl) 9rem;
  justify-content: center;
  color: var(--white);
}
.frameParent {
  gap: var(--gap-21xl);
}
.digitalMarketingServices,
.digitalMarketingServicesInner,
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.digitalMarketingServicesInner {
  background-color: var(--light-blue);
  overflow: hidden;
  padding: var(--padding-34xl) var(--padding-101xl);
}
.digitalMarketingServices {
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--blue);
  font-family: var(--font-montserrat);
}
