.div {
  font-size: 2rem;
  position: absolute;
  top: -.5rem;
  left: 2.4rem;
  font-weight: 500;
}
.increasedCustomerEngagement {
  position: absolute;
  top: 3rem;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--text-grey);
  text-align: center;
  display: inline-block;
  width: 8.56rem;
  height: 4.38rem;
}
.parent {
  position: absolute;
  top: 3.25rem;
  left: 1.56rem;
  width: 8.56rem;
  height: 7.38rem;
}
.stBlockContent {
  position: absolute;
  top: 2.5rem;
  left: 0;
  border-radius: var(--br-xl);
  border: 2px solid var(--blue);
  box-sizing: border-box;
  width: 11.88rem;
  height: 11.88rem;
  overflow: hidden;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 3.31rem;
  width: 5rem;
  height: 5rem;
}
.stBlockContentParent {
  position: relative;
  width: 11.88rem;
  height: 14.38rem;
  flex-shrink: 0;
}
.div1 {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 2.25rem;
  font-weight: 500;
}
.div11 {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 3.25rem;
  font-weight: 500;
}
.group,
.visitsIncrease {
  position: absolute;
  width: 10.88rem;
}
.visitsIncrease {
  top: 3.94rem;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--text-grey);
  text-align: center;
  display: inline-block;
  height: 2.31rem;
}
.group {
  top: 2.81rem;
  left: 0.5rem;
  height: 6.25rem;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 3.38rem;
  width: 5rem;
  height: 5rem;
}
.div2,
.increasedCustomerInteraction {
  font-size: 2rem;
  position: absolute;
  top: 2.5rem;
  left: 4rem;
  font-weight: 500;
}
.increasedCustomerInteraction {
  top: 5.94rem;
  left: 1.19rem;
  font-size: var(--font-size-lg);
  font-family: var(--font-montserrat);
  color: var(--text-grey);
  text-align: center;
  display: inline-block;
  width: 9.56rem;
  height: 5rem;
}
.rdBlockContent {
  position: absolute;
  top: 2.56rem;
  left: 0;
  border-radius: var(--br-xl);
  border: 2px solid var(--blue);
  box-sizing: border-box;
  width: 11.88rem;
  height: 11.88rem;
  overflow: hidden;
}
.groupInner {
  position: absolute;
  top: 0;
  left: 3.44rem;
  width: 5rem;
  height: 5rem;
}
.rdBlockContentParent {
  position: relative;
  width: 11.88rem;
  height: 14.44rem;
  flex-shrink: 0;
}
.customerConversionIncreased,
.div3 {
  position: absolute;
  font-size: 2rem;
  top: 2.44rem;
  left: 4.19rem;
  font-weight: 500;
}
.customerConversionIncreased {
  top: 6.5rem;
  left: 1.25rem;
  font-size: var(--font-size-lg);
  color: var(--text-grey);
  text-align: center;
  display: inline-block;
  width: 9.56rem;
  height: 5rem;
}
.thBlockContentParent {
  position: relative;
  width: 11.88rem;
  height: 14.44rem;
  flex-shrink: 0;
  font-family: var(--font-montserrat);
}
.groupParent {
  /* gap: 3rem; */
  /* align-self: stretch; */
  display: flex;
  flex-direction: row;

  gap: 4rem;
}
.div4,
.increasedSocialMedia {
  font-size: 2rem;
  position: absolute;
  top: 2.5rem;
  left: 1.25rem;
  font-weight: 500;
}
.increasedSocialMedia {
  top: 5.94rem;
  left: 0.88rem;
  font-size: var(--font-size-lg);
  font-family: var(--font-inter);
  color: var(--text-grey);
  text-align: center;
  display: inline-block;
  width: 9.56rem;
  height: 3.75rem;
}
.stBlockContent1 {
  position: absolute;
  top: 2.81rem;
  left: 0;
  border-radius: var(--br-xl);
  border: 2px solid var(--blue);
  box-sizing: border-box;
  width: 11.88rem;
  height: 11.88rem;
  overflow: hidden;
}
.groupChild1 {
  position: absolute;
  top: 0;
  left: 3.13rem;
  width: 5rem;
  height: 5rem;
}
.stBlockContentGroup {
  position: relative;
  width: 11.88rem;
  height: 14.69rem;
  flex-shrink: 0;
}
.div5,
.lastYearAddition {
  font-size: 2rem;
  position: absolute;
  top: 2.06rem;
  left: 4.06rem;
  font-weight: 500;
}
.lastYearAddition {
  top: 5.94rem;
  left: 1.19rem;
  font-size: var(--font-size-lg);
  color: var(--text-grey);
  text-align: center;
  display: inline-block;
  width: 9.56rem;
  height: 4.31rem;
}
.ndBlockContent1 {
  position: absolute;
  top: 2.94rem;
  left: 0;
  border-radius: var(--br-xl);
  border: 2px solid var(--blue);
  box-sizing: border-box;
  width: 11.88rem;
  height: 11.88rem;
  overflow: hidden;
}
.ndBlockContentGroup {
  position: relative;
  width: 11.88rem;
  height: 14.81rem;
  flex-shrink: 0;
}
.div6,
.increasedSocialMedia1 {
  font-size: 2rem;
  position: absolute;
  top: 2.3rem;
  left: 4rem;
  font-weight: 500;
}
.increasedSocialMedia1 {
  top: 6.5rem;
  left: 1.19rem;
  font-size: var(--font-size-lg);
  color: var(--text-grey);
  text-align: center;
  display: inline-block;
  width: 9.56rem;
  height: 5.06rem;
}
.groupChild3 {
  position: absolute;
  top: 0;
  left: 3.19rem;
  width: 5rem;
  height: 5rem;
}
.rdBlockContentGroup {
  position: relative;
  width: 11.88rem;
  height: 14.81rem;
  flex-shrink: 0;
  font-size: var(--font-size-21xl);
}
.groupContainer {
  /* align-self: stretch; */
  display: flex;
  flex-direction: row;
  /* padding: 0 var(--padding-131xl); */
  align-items: center;
  /* justify-content: space-between; */
  gap: 3rem;
  font-family: var(--font-montserrat);
}
.frameParent,
.numberCounter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 3rem 0 ; */
  padding-top: 3rem;
}
.frameParent {
  align-self: stretch;
  gap: var(--gap-21xl);
}
.numberCounter {
  background-color: var(--white);
  width: 90rem;
  overflow: hidden;
  padding: var(--padding-20xl) var(--padding-186xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--blue);
  font-family: var(--font-inter);
}
