.recentResults {
  position: relative;
  font-weight: 500;
}
.increaseInVertical {
  font-size: var(--font-size-smi);
}
.increaseInOrganic,
.increaseInVertical {
  position: relative;
  font-weight: 600;
}
.increaseInVerticalRevenueParent{
  background-color: var(--light-blue);
  width: 100%;

}
.recentresult {
  background-color: var(--light-blue);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.increaseInVerticalRevenueParent {
  flex: 1;
  overflow: hidden;
  /* padding: 0 var(--padding-mini); */
  justify-content: space-around;
  gap: "1.3rem";
  color: var(--text-grey);
}
.recentresult {
  align-self: stretch;
  padding: var(--padding-2xl) 0 var(--padding-2xl) var(--padding-3xl);
  /* justify-content: center; */
  gap: var(--gap-17xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--blue);
  font-family: var(--font-montserrat);
}

.slick-disabled {
  display: none;
}