@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
  overflow-x: hidden;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-inherit: inherit;
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 0.88rem;
  --font-size-11xl: 1.88rem;
  --font-size-16xl: 2.19rem;
  --font-size-31xl: 3.13rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.13rem;
  --font-size-xl: 1.25rem;
  --font-size-6xl: 1.56rem;
  --font-size-51xl: 4.38rem;
  --font-size-xs: 0.75rem;
  --font-size-40xl-6: 3.73rem;
  --font-size-26xl: 2.81rem;
  --font-size-mini: 0.94rem;
  --font-size-smi: 0.81rem;
  --font-size-mid-8: 1.11rem;
  --font-size-21xl: 2.5rem;
  --font-size-3xs: 0.63rem;
  --font-size-mid: 1.06rem;

  /* Colors */
  --white: #fff;
  --color-steelblue-100: #0078a5;
  --blue: #0076a2;
  --color-steelblue-200: rgba(0, 112, 158, 0.75);
  --color-dimgray-100: #6a6a6a;
  --text-grey: #666;
  --color-dimgray-300: rgba(106, 108, 109, 0.3);
  --color-dimgray-200: rgba(102, 102, 102, 0.75);
  --color-aliceblue-100: #f4f9fe;
  --light-blue: #e9eef4;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-royalblue: #0e5dd2;
  --color-black: #000;
  --color-gray: #242424;
  --color-darkslategray: #494848;
  --color-darkslategray-100: #094f69;
  --color-whitesmoke-100: #f4f5f5;
  --color-whitesmoke-200: #f1f3f4;
  --color-deepskyblue: #36cfff;
  --color-silver: #bcbcbc;

  /* Gaps */
  --gap-11xl: 1.88rem;
  --gap-8xs: 0.31rem;
  --gap-61xl: 5rem;
  --gap-9xl: 1.75rem;
  --gap-31xl: 3.13rem;
  --gap-9xs: 0.25rem;
  --gap-4xs: 0.56rem;
  --gap-xs: 0.75rem;
  --gap-21xl: 2.5rem;
  --gap-xl: 1.25rem;
  --gap-3xs: 0.63rem;
  --gap-51xl: 4.38rem;
  --gap-5xs: 0.5rem;
  --gap-6xl: 1.56rem;
  --gap-4xl: 1.44rem;
  --gap-8xl: 1.69rem;
  --gap-17xl: 2.25rem;
  --gap-10xl: 1.81rem;
  --gap-43xl: 3.88rem;
  --gap-smi: 0.81rem;
  --gap-mid: 1.06rem;
  --gap-2xs: 0.69rem;
  --gap-41xl: 3.75rem;
  --gap-16xl: 2.19rem;
  --gap-mini: 0.94rem;

  /* Paddings */
  --padding-177xl: 12.25rem;
  --padding-3xl: 1.38rem;
  --padding-85xl: 6.5rem;
  --padding-28xl: 2.94rem;
  --padding-3xs: 0.63rem;
  --padding-331xl: 21.88rem;
  --padding-13xl: 2rem;
  --padding-4xs: 0.56rem;
  --padding-9xl: 1.75rem;
  --padding-33xl: 3.25rem;
  --padding-222xl: 15.06rem;
  --padding-mid: 1.06rem;
  --padding-mini: 0.94rem;
  --padding-20xl: 2.44rem;
  --padding-34xl: 3.31rem;
  --padding-17xl: 2.25rem;
  --padding-10xl: 1.81rem;
  --padding-22xl: 2.56rem;
  --padding-19xl: 2.38rem;
  --padding-21xl: 2.5rem;
  --padding-26xl: 2.81rem;
  --padding-75xl: 5.88rem;
  --padding-201xl: 13.75rem;
  --padding-151xl: 10.63rem;
  --padding-lgi: 1.19rem;
  --padding-14xl: 2.06rem;
  --padding-5xl: 1.5rem;
  --padding-8xl: 1.69rem;
  --padding-101xl: 7.5rem;
  --padding-122xl: 8.81rem;
  --padding-base: 1rem;
  --padding-lg: 1.13rem;
  --padding-xl: 1.25rem;
  --padding-6xl: 1.56rem;
  --padding-47xl: 4.13rem;
  --padding-81xl: 6.25rem;
  --padding-80xl: 6.19rem;
  --padding-97xl: 7.25rem;
  --padding-2xl: 1.31rem;
  --padding-30xl: 3.06rem;
  --padding-203xl: 13.88rem;
  --padding-15xl: 2.13rem;
  --padding-41xl: 3.75rem;
  --padding-65xl: 5.25rem;
  --padding-xs: 0.75rem;
  --padding-18xl: 2.31rem;
  --padding-12xl: 1.94rem;
  --padding-79xl: 6.13rem;
  --padding-176xl: 12.19rem;
  --padding-44xl: 3.94rem;
  --padding-99xl: 7.38rem;
  --padding-sm: 0.88rem;
  --padding-31xl: 3.13rem;
  --padding-2xs: 0.69rem;
  --padding-5xs: 0.5rem;
  --padding-9xs: 0.25rem;
  --padding-8xs: 0.31rem;
  --padding-smi: 0.81rem;

  /* border radiuses */
  --br-11xl: 30px;
  --br-2xl-4: 21.4px;
  --br-xl: 20px;
  --br-lg: 18px;
  --br-2xs: 11px;
  --br-smi: 13px;
  --br-mid-5: 17.5px;
  --br-13xl: 32px;
  --br-xs: 12px;
  --br-3xl: 22px;
  --br-5xs-9: 7.9px;
  --br-mini: 15px;
  --br-smi-3: 12.3px;
  --br-5xs: 8px;

  --font-size-base: 1rem;
  --font-size-lg: 1.13rem;
  --font-size-xl: 1.25rem;
  --font-size-8xl-4: 1.71rem;
  --font-size-31xl: 3.13rem;
  --font-size-xs: 0.75rem;
  --font-size-11xl: 1.88rem;
  --font-size-mini: 0.94rem;
  --font-size-mid: 1.06rem;
  --font-size-6xl: 1.56rem;
  --font-size-sm: 0.88rem;
  --font-size-16xl: 2.19rem;
  --font-size-51xl: 4.38rem;
  --font-size-40xl-6: 3.73rem;
  --font-size-26xl: 2.81rem;
  --font-size-smi: 0.81rem;
  --font-size-mid-8: 1.11rem;
  --font-size-21xl: 2.5rem;
  --font-size-3xs: 0.63rem;

  /* Colors */
  --color-white-100: #fff;
  --white: #fff;
  --color-deepskyblue: #36cfff;
  --color-steelblue-100: #0078a5;
  --blue: #0076a2;
  --color-steelblue-300: #046487;
  --color-steelblue-200: rgba(0, 112, 158, 0.75);
  --color-aliceblue-100: #f4f9fe;
  --light-blue: #e9eef4;
  --color-dimgray-100: #6a6a6a;
  --text-grey: #666;
  --color-dimgray-300: rgba(106, 108, 109, 0.3);
  --color-dimgray-200: rgba(102, 102, 102, 0.75);
  --color-whitesmoke-100: #f4f5f5;
  --color-whitesmoke-200: #f1f3f4;
  --color-silver: #bcbcbc;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-royalblue: #0e5dd2;
  --color-black: #000;
  --color-gray: #242424;
  --color-darkslategray: #494848;
  --color-darkslategray-100: #094f69;

  /* Gaps */
  --gap-3xl: 1.38rem;
  --gap-24xl: 2.69rem;
  --gap-6xl: 1.56rem;
  --gap-5xl: 1.5rem;
  --gap-41xl: 3.75rem;
  --gap-12xl: 1.94rem;
  --gap-31xl: 3.13rem;
  --gap-16xl: 2.19rem;
  --gap-8xl: 1.69rem;
  --gap-xs: 0.75rem;
  --gap-21xl: 2.5rem;
  --gap-xl: 1.25rem;
  --gap-mini: 0.94rem;
  --gap-11xl: 1.88rem;
  --gap-8xs: 0.31rem;
  --gap-61xl: 5rem;
  --gap-9xl: 1.75rem;
  --gap-9xs: 0.25rem;
  --gap-4xs: 0.56rem;
  --gap-smi: 0.81rem;
  --gap-2xl: 1.31rem;
  --gap-3xs: 0.63rem;
  --gap-51xl: 4.38rem;
  --gap-5xs: 0.5rem;
  --gap-4xl: 1.44rem;
  --gap-17xl: 2.25rem;
  --gap-10xl: 1.81rem;
  --gap-43xl: 3.88rem;
  --gap-mid: 1.06rem;
  --gap-2xs: 0.69rem;

  /* Paddings */
  --padding-101xl: 7.5rem;
  --padding-11xs: 0.13rem;
  --padding-39xl: 3.63rem;
  --padding-23xl: 2.63rem;
  --padding-xs: 0.75rem;
  --padding-26xl: 2.81rem;
  --padding-6xl: 1.56rem;
  --padding-base: 1rem;
  --padding-mini: 0.94rem;
  --padding-177xl: 12.25rem;
  --padding-3xl: 1.38rem;
  --padding-85xl: 6.5rem;
  --padding-28xl: 2.94rem;
  --padding-3xs: 0.63rem;
  --padding-331xl: 21.88rem;
  --padding-13xl: 2rem;
  --padding-4xs: 0.56rem;
  --padding-9xl: 1.75rem;
  --padding-33xl: 3.25rem;
  --padding-222xl: 15.06rem;
  --padding-mid: 1.06rem;
  --padding-20xl: 2.44rem;
  --padding-34xl: 3.31rem;
  --padding-17xl: 2.25rem;
  --padding-10xl: 1.81rem;
  --padding-22xl: 2.56rem;
  --padding-19xl: 2.38rem;
  --padding-21xl: 2.5rem;
  --padding-75xl: 5.88rem;
  --padding-201xl: 13.75rem;
  --padding-151xl: 10.63rem;
  --padding-smi: 0.81rem;
  --padding-14xl: 2.06rem;
  --padding-lgi: 1.19rem;
  --padding-2xs: 0.69rem;
  --padding-5xl: 1.5rem;
  --padding-8xl: 1.69rem;
  --padding-6xs: 0.44rem;
  --padding-122xl: 8.81rem;
  --padding-lg: 1.13rem;
  --padding-xl: 1.25rem;
  --padding-47xl: 4.13rem;
  --padding-81xl: 6.25rem;
  --padding-80xl: 6.19rem;
  --padding-51xl: 4.38rem;
  --padding-2xl: 1.31rem;
  --padding-30xl: 3.06rem;
  --padding-203xl: 13.88rem;
  --padding-15xl: 2.13rem;
  --padding-41xl: 3.75rem;
  --padding-65xl: 5.25rem;
  --padding-18xl: 2.31rem;
  --padding-12xl: 1.94rem;
  --padding-79xl: 6.13rem;
  --padding-176xl: 12.19rem;
  --padding-44xl: 3.94rem;
  --padding-99xl: 7.38rem;
  --padding-sm: 0.88rem;
  --padding-31xl: 3.13rem;
  --padding-5xs: 0.5rem;
  --padding-9xs: 0.25rem;
  --padding-8xs: 0.31rem;

  /* border radiuses */
  --br-11xl: 30px;
  --br-mini: 15px;
  --br-smi-3: 12.3px;
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-2xl-4: 21.4px;
  --br-xl: 20px;
  --br-lg: 18px;
  --br-2xs: 11px;
  --br-smi: 13px;
  --br-mid-5: 17.5px;
  --br-13xl: 32px;
  --br-xs: 12px;
  --br-3xl: 22px;
  --br-5xs-9: 7.9px;
}



